.page-container {
    height: 100%;
    width: 100%;
}

body {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background: #fff;
    width: 100%;
    margin: 0; 
}

ul{
    list-style: none;
}

.top-nav-bar {
    padding: 10px 30px; 
}

.top-nav-bar-left-item {
    float: left;
    padding-right: 15px;
    padding-top: 15px;
}

.top-nav-bar-right-item {
    float: right;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 15px;
}

.google-waffle-button img {
    float: right;
    width: 22px;
    padding-top: 12px;
    padding-right: 15px; 
    padding-bottom: 10px; 
    padding-left: 13px;
}

.google-waffle-button img:hover{
    border-radius: 50px;
    background: rgb(201, 201, 201);
}

.google-sign-in {
    float: right;
    padding-left: 24px;
    padding-bottom: 3px;
}

.sign-in-button{
    background: #1a73e8;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color:#fff;
    font-size: 17px;
    border: 1px solid transparent;
    min-width: 120px;
    min-height: 46px;
    padding: 9px 15px;
    border-radius: 5px;
}

.sign-in-button:focus{
    box-shadow: none;
    outline: 0;
    background: #4285f4;

}

.logo {
    display: block;
    margin-top: 280px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;

}
.bottom-nav-bar {
    position: fixed;
    padding: 18px 48px; 
    background: rgb(243, 243, 243);
    bottom: 0px;
    width: 100%;
    font-size: 17px;
    box-sizing: border-box;
    margin-top: 20px;
}

.bottom-nav-bar-left-item {
    float: left;
    padding-right: 35px;
}

.bottom-nav-bar-right-item {
    float: right;
    padding-left: 35px;
}
.bottom-nav-bar a {
    color: #70757a;
}

input[type=text]{
    display:block ;
    width: 700px;
    height: 49px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    border: 1px solid #dfe1e5 ;
    border-radius: 24px;
    background-image: url("../images/magnifying-glass.png"), url("../images/google-microphone.png");
    background-size: 35px, 25px;
    background-position: 10px 9.5px, 745px 9.5px;
    background-repeat: no-repeat, no-repeat;
    padding-left: 50px;
    padding-right: 40px;
}


input:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}


input:focus{
    outline: none ; 
}

a {
    text-decoration: none; 
    color:#222;
}

a:hover {
    text-decoration: underline;
}

.button-container {
    display:block ;
    width: 500px;
    height: 44px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 
}

.button {
    font-size: 16px;  
    font-family: Arial, Helvetica, sans-serif; 
    color: #3c4043;  
    background-color: #f8f9fa; 
    border: none;
    margin: 5px;
    padding: 13px 18px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}


button:focus {
    box-shadow: none;
    outline: 1px solid #4d90fe;
}



